<h1 style="text-align: center;">Ride History</h1>
<div><input type="text" placeholder="search" name="search" #search  (input)="searchByKeyword(search.value)"></div>
<div style="text-align: center;"><b>Search By:</b></div>
<form method="get" class="mt-2 col-10 d-flex" #searchForm="ngForm"
  (ngSubmit)="onSearch(searchByStatus,searchByDate,searchBySource, searchByDestination)">
 

    <select class="form-control  " style="width: 100px;height :45px;" [(ngModel)]="searchByStatus" (change)="handleStatus($event)" name="search">
      <option class="bg-white" value="" disabled selected>Status</option>
      <option class="bg-white" value="completed">Completed</option>
      <option class="bg-white" value="cancelled">Cancelled</option>
    </select>

    <input type="datetime-local" style="width: 200px;" placeholder="Date" [(ngModel)]="searchByDate" name="search" class="form-control">

  <input type="text"  style="width: 100px;"  placeholder="Source" name="search" class="form-control"
    [(ngModel)]="searchBySource">
  <input type="text" style="width: 100px;" placeholder="Destintion" name="search" class="form-control"
    [(ngModel)]="searchByDestination">
  
  <input type="submit" value="Search" class="btn btn-primary">
  <button class="btn btn-danger" type="button" (click)="resetForm(searchForm)">Reset</button>
</form>
<div class="table-responsive mt-3">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">RequestId</th>
          <th scope="col">UserName</th>
          <th scope="col">UserNumber</th>
          <th scope="col">PickUpTime</th>
          <th scope="col">PickUpAddress</th>
          <th scope="col">DropOffAddress</th>
          <th scope="col">Type</th>
          <th scope="col">Status</th>
          <th scope="col">Driver Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ride of completedAndCancelledRidesList" (click)="onRowClicked(ride)">
          <th scope="row">{{ride._id}}</th>
          <td>{{ride.uname}}</td>
          <td>{{ ride.unumber }}</td>
          <td>{{ride.rideDateTime}}</td>
          <td>{{ride.source}}</td>
          <td>{{ride.destination}}</td>
          <td>{{ride.vtype}}</td>
          <td>{{ ride.status }}</td>
          <td style="text-align: center;">
            <div style="display: flex; align-items: center;">
              <h3 class="mx-2">
                {{ ride.dname }}</h3>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-success" (click)="exportToCSV()">Export to CSV</button>

  <div id="action_modal" class="modal fade custom-modal-width" tabindex="-1" #action_modal role="dialog">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header" id="title">
          <h1 class="modal-title mx-auto">Details</h1>
        </div>
        <div class="modal-body">
          <table class="table">
            <thead>
              <tr *ngIf="selectedRide">
                <th>UProfile</th>
                <th>Estimate Distance</th>
                <th>Estimate Price</th>
                <th>Estimate Fare</th>
                <th>Source</th>
                <th *ngIf="selectedRide.stopsInputs.length!==0">Stops</th>
                <th>Destintion</th>
                <th>Ride Time</th>
                <th>Map</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="selectedRide && selectedRide.uprofile">
                <img [src]="'http://localhost:8000/assets/uprofile/' + selectedRide.uprofile" alt="User Profile"
                  style="max-width: 100px; max-height: 100px;" class="img-thumbnail">
                <td>{{selectedRide.estimateDistance}}</td>
                <td>{{ selectedRide.estimateTime }}</td>
                <td>{{ selectedRide.estimateFare}}</td>
                <td>{{ selectedRide.source }}</td>
                <td *ngIf="selectedRide.stopsInputs.length!==0">
                  <ul>
                    <ng-container *ngFor="let stop of selectedRide.stopsInputs">
                      <li *ngIf="stop.trim() !== ''">{{ stop }}</li>
                    </ng-container>
                  </ul>
                </td>
                <td>{{ selectedRide.destination }}</td>
                <td>{{ selectedRide.rideDateTime }}</td>
                <td id="map"></td>
              </tr>
            </tbody>
          </table>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>